form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
}

button{
    background-color: #2E7D32;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;

}
button:hover {
  background-color: #1B5E20;
}
