a:hover{
    color: white;
    transform: scale(.3);
}
nav{
    background-color: #1A237E;
    height: 50px;
    width: 100%;
}
body{
    background-color: #F5F5F5;
     margin: 0;
    padding: 0;
}
header{
    
    background-color: #1A237E;
    color: white;
    padding: 0;
    height: 60px;;
}
h2{
    text-align: center;
}
nav ul{
  display: flex;          
  justify-content: center;
  align-items: center;   
  gap: 30px;              
  height: 50px;           

}