header {
  margin: 0;
  padding: 0;
}

header h2 {
  margin: 0;   /* elimina el espacio extra */
  padding: 10px;
  color: white;
  text-align: center;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #213FD9;
}

nav ul {
  list-style: none;
  margin: 0;   /* elimina margen por defecto */
  padding: 0;  /* elimina padding por defecto */
  display: flex;
  gap: 20px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}

nav a:hover {
  color: #fff;
}